.contents {
    margin: auto;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.main-content {
    overflow: auto;
    background-color: #000;
    color: #fff;
}

.main-content h3 {
    line-height: 0.05em;
} 

.padding {
    padding: 5px 10px;
}

.main-content .type {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.7em;
    background-color: #444;
    color: #ccc;
}


@media screen and (max-width: 728px) { 
    .main-content img {
        display: block;
        margin: auto;
        width: 70%;
        
    }

    footer .flex {
        flex-wrap: wrap;
    }

    footer .read-more {
        width: 85%;
    }

    footer .recommendation {
        width: 85%;
        border-top: 2px solid #fff;
    }
 }
 
 @media screen and (min-width: 728px) {
    .contents {
        width: 83%;
        padding: 1%;
    }
    .main-content img {
        float: left;
        width: 25%;
        padding: 1% 3%;

     }

     .main-content p {
        font-size: 1em;
     }

    footer .recommendation {
        border-left: 2px solid #fff;

    }

 }

.sub-content div {
    margin-top: 3%;
}

.sub-content h4 {
    line-height: 0;
}


/* footer */
footer {
    width: 100%;
    background-color: rgba(85, 85, 85, 0.2);
    position: relative;
    bottom: 0;
    font-size: 0.85em;
    border-radius: 30px 30px 0 0;
}

.read-more {
    width: 50%;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.recommendation {
    width: 50%;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

footer a {
    display: block;
    text-decoration: underline;
    color: #000;
    margin-bottom: 5px;
}